// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin small {
  @media (max-width: #{$medium-min-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium-min-width) and (max-width: #{$large-min-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}

@mixin xlarge {
	@media (min-width: #{$xlarge-min-width}) {
		@content;
	}
}

@mixin fade-in($delay) {
	opacity: 0;
	animation: fade-in $fade-transition-duration ease-out;
	animation-fill-mode: forwards;
	animation-delay: $delay;
	position: relative;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		//left: -$spacing-small;
	}

	100% {
		opacity: 1;
		//left: 0;
	}
}
